{% extends "base.html" %} {% block content %}
<h1>Cadastro resultado</h1>

<form method="POST" action="/cadastro/resultado">
  <label for="time_casa">ID do time da Casa:</label>
  <input type="text" id="time_casa" name="id_time1" required />
  <br />
  <label for="time_visitante">ID do time Visitante:</label>
  <input type="text" id="time_visitante" name="id_time2" required />
  <br />
  <label for="placar_casa">Placar da Casa:</label>
  <input type="number" id="placar_casa" name="gols_time1" required />
  <br />
  <label for="placar_visitante">Placar do Visitante:</label>
  <input type="number" id="placar_visitante" name="gols_time2" required />
  <br />
  <input type="submit" value="Cadastrar Resultado" />
</form>

{% endblock %}
