{% extends "base.html" %} {% block content %}
<h1>Editar produto</h1>

<form action="/editar-produto/" method="POST">
    <label for="id">ID:</label>
    <input type="text" name="id" id="id">
    <br>
    <label for="nome">Nome:</label>
    <input type="text" name="nome" id="nome">
    <br>
    <label for="descricao">Descrição:</label>
    <input type="text" name="descricao" id="descricao">
    <br>
    <label for="preco">Preço:</label>
    <input type="text" name="preco" id="preco">
    <br> 
    <input type="submit" value="Cadastrar">
</form>

<script>
    const form = document.querySelector("form")
    const id = form.querySelector("#id")
    
    form.addEventListener("change", ()=>{
        if(id.value != ""){
            form.action = "/editar-produto/" + id.value
        }
    })
</script>
{% endblock %}
